augustkarte/augustiner.txt
augustkarte/augustiner_ways.xml
augustkarte/augustiner.xml
augustkarte/mikro.kml
augustkarte/augustkarte.html
augustkarte/count
augustkarte/import
augustkarte/import/*
*~
bot/user
bot/oldlog.ods
bot/logfile.csv
